#app{
    background-color: #EEEEEE;
}

#main-view{
    background-color: white;
    height: 100%;
    padding-top:2%;
}

#nav-list{
    margin-top:2%;
}


.patch{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: inline-block;
}

.color-chooser-row{
    margin-top: 2%;
    font-size:2em;
}

#color-chooser{
    height:auto;
    font-size:1em;
}

.colorNameTableWrapper{
}

.colorNameTableBody > tr:hover {
    cursor:pointer;
    background-color:#ABBEEB;
}

